<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://www.cnet.com/a/img/resize/877a9c1b0154f7fc96f71cbeaa2e08dd8a80fb9a/2016/06/09/939d8e18-2604-4216-b932-13933c5d201e/45611kingdomhearts.jpg?auto=webp&fit=crop&height=488&width=868"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img
          class="game-platform"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Playstation_logo_colour.svg/268px-Playstation_logo_colour.svg.png?20160703143304"
          alt="slug"
        />
      </div>
    </div>
  </div>
</div>
